{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": ".",
    "paths": {
      "@/*": ["src/*"]
    },
     "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "dynamicImport": true,
      "privateMethod": true,
      "functionBind": true,
      "classPrivateProperty": true,
      "exportDefaultFrom": true,
      "exportNamespaceFrom": true,
      "decorators": true,
      "decoratorsBeforeExport": true,
      "importMeta": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": true,
        "useBuiltins": true,
        "runtime": "classic",
        "refresh": true
      }
    },
    "target": "es2020",
    "loose": true,
    "externalHelpers": true
  },
  "minify": true,
  "sourceMaps": true
}
