.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  font-size: 3rem;
  font-weight: bolder;
}

.back {
  font-size: 1.5rem;
}
